<div class="row vertical-center">
  <div class="col-md-6 col-md-offset-3 gray_back padding_bot_1">
    <h3 class="title text-center">EDIT ARTIST</h3>
    <div class="col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :display_name, class: "control-label" %><br />
          <%= f.email_field :display_name, autofocus: false, disabled: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :name, class: "control-label" %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "control-label" %><br />
          <%= f.email_field :email, autofocus: true, disabled: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: "control-label" %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :paypal_email, class: "control-label" %><br />
          <%= f.email_field :paypal_email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :bio, class: "control-label", value: 'Artist Bio' %>
          <%= f.text_area :bio, class: "form-control", style: "resize: none;" %>
        </div>

        <div class="actions">
          <%= f.submit "UPDATE", class: "btn btn-primary dark_gray_button btn-block margin_bot_1" %>
        </div>
      <% end %>

      <!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

      <%= link_to "Back", :back, class: "black_link" %>
    </div>
  </div>
</div>
