<div class="row vertical-center">
  <div class="col-md-6 col-md-offset-3 gray_back padding_bot_1">
    <h3 class="title text-center">ARTIST REGISTRATION</h3>
    <div class="col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :display_name, class: "control-label" %><br />
          <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :name, class: "control-label" %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "control-label" %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "control-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country, class: "control-label" %><br />
          <%= country_select("user", "country", {selected: "SG"}, { class: "form-control" })%>
        </div>

        <div class="form-group">
          <%= f.label :paypal_email, class: "control-label" %>
	  <em>(Optional)</em>          
	  <%= f.email_field :paypal_email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :bio, class: "control-label", value: 'Artist Bio' %>
          <em>(Optional)</em>
          <%= f.text_area :bio, class: "form-control", style: "resize: none;" %>
        </div>

        <div class="form-group">
          <%= f.label :came_from, class: "control-label", value: 'How did you hear about us?' %>
          <% opts = options_for_select([['Friends & Family', 1], ['Instagram', 2], ['On the Internet', 3], ['Newspaper', 4], ['Physical Events', 5], ]) %>
          <%= f.select :came_from, opts, {}, { :class => 'form-control' } %>
        </div>

        <div class="actions">
          <%= f.submit "SIGN UP",id: "login_button", class: "btn btn-primary dark_gray_button btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
