<div class="row vertical-center">
  <div class="col-md-6 col-md-offset-3 gray_back padding_bot_1">
    <h3 class="title text-center">CHANGE YOUR PASSWORD</h3>
    <div class="col-md-10 col-md-offset-1">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "CHANGE MY PASSWORD", id: "login_button", class: "btn btn-primary dark_gray_button btn-block" %>
      </div>
    <% end %>

      <%= render "devise/shared/links" %>
     </div>
    </div>
  </div>
