<div class="row vertical-center">
  <div class="col-md-6 col-md-offset-3 gray_back padding_bot_1">
    <h3 class="title text-center">FORGOT YOUR PASSWORD?</h3>
    <div class="col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "SEND ME RESET PASSWORD INSTRUCTIONS", id: "login_button", class: "btn btn-primary dark_gray_button btn-block" %>
        </div>
      <% end %>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <div class="text-center">New artist? <%= link_to "Sign up", new_registration_path(resource_name), class: "black_link" %></div>
      <% end -%>
    </div>
  </div>
</div>
