<div class="row vertical-center">
  <div class="col-md-6 col-md-offset-3 gray_back padding_bot_1">
    <h3 class="title text-center">ARTIST LOGIN</h3>
    <div class="col-md-10 col-md-offset-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="form-group">
          <%= link_to "forgot password", new_password_path(resource_name), id:"forgot_pass" %><br />
        </div>
        <% end -%>

  <!-- <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%> -->

        <div class="actions">
          <%= f.submit "LOG IN",id: "login_button", class: "btn btn-primary dark_gray_button btn-block" %>
        </div>
      <% end %>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <div class="text-center">New artist? <%= link_to "Sign up", new_registration_path(resource_name), class: "black_link" %></div>
      <% end -%>
    </div>
  </div>
</div>
