@font-face {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
p, div {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

.body {
  font-family: Verdana,Geneva,sans-serif;
}

.btn.btn-primary {
  background-color: #808080;
  border-color: #808080;
}

.info_group {
  padding: 1.5em;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

.btn-primary.dark_gray_button {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

.btn-primary.black_button {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-primary.red_button {
  background-color: #ff7373;
  border-color: #ff7373;
}

.product {
  padding: 2em;
  padding-bottom: 0;
}

.gray_back {
  background-color: #f1f1f1;
}

.products_table_container{
      /* margin-left: 2em; */
  margin-right: 2em;
  width: 60%;
}

table.products_table td {
  border-top: none !important;
}

table.products_table tr {
  border-top: 1px solid #b7b7b7;
}

table.products_table tr:first-child {
  border-top: none;
}

.product_canvas {
  height: 150px;
  width: 150px;
}

.product_description {
  padding-bottom: 1em;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.submission_div {
  font-size: 16px;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
}

.submission_div .upload_btn {
  margin-bottom: 1em;
  margin-top: 2em;
}

.title {
  margin-bottom: 1.5em;
}

.black_link {
  color: #333333;
  text-decoration: underline;
}

#login_button {
  padding: .8em;
  margin-bottom: 1em;
}

#forgot_pass {
  color: #b3b3b3;
  text-decoration: none;
  font-style: italic;
}

.padding_bot_1 {
  padding-bottom: 1em;
}

.margin_bot_1 {
  margin-bottom: 1em;
}

#singleFieldTags.ui-widget {
  font-size: 0.85em;
  height: 6em;
}

.gray {
  color: #aaaaaa;
}

/* Header part */

.mm-fixed-top {
    transition-property: top, right, bottom, left, border, background-color;
}
.mm-fixed-top {
    top: 0px;
}
.mm-fixed-top, .mm-fixed-bottom {
    position: fixed;
    left: 0px;
}
.mm-page, .mm-fixed-top, .mm-fixed-bottom {
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: top, right, bottom, left, border;
}
.header {
    z-index: 1000;
    width: 100%;
    background-color: #FCFCFC;
    transition: background-color 500ms ease 0s;
}

.container .four.columns {
    width: 280px;
}

.column, .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    padding: 10px 0px;
}

.logo {
    font-family: "Lato";
    font-weight: lighter;
    font-size: 15px;
    text-transform: none;
    color: #303030;
    line-height: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

img {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
}

.index .logo a, .index .logo a:hover, .index .logo a:visited, .index .logo a:active {
    color: #FFF;
}

.logo a {
    margin: 0px;
    padding-top: 0px;
    display: block;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
